<tr>
    <th scope="row"><%= cliente.id %></th>
    <td><%= cliente.identificacion %></td>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.apellido %></td>
    <td><%= cliente.telefono %></td>
    <td><%= link_to 'Ver perfil', cliente_path(cliente)%></td>
</tr>