<tr>
    <th scope="row"><%= cliente.id %></th>
    <td><%= cliente.identificacion %></td>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.apellido %></td>
    <td><%= cliente.email %></td>
    <td><a href="<%= cliente_path(cliente) %>" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Perfil </a></td>
</tr>