<h1>Perfil de <%= @cliente.nombre %></h1>

<dl>

  <dt>Identificacion:</dt>
  <dd><%= @cliente.identificacion %></dd>

  <dt>Nombre:</dt>
  <dd><%= @cliente.nombre %></dd>

  <dt>Apellido:</dt>
  <dd><%= @cliente.apellido %></dd>

  <dt>Telefono:</dt>
  <dd><%= @cliente.telefono %></dd>

</dl>


