<tr>
    <th scope="row"><%= usuario.id %></th>
    <td><%= usuario.identificacion %></td>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.apellido %></td>
    <td><%= usuario.email %></td>
    <td><a href="<%= user_profile_path %>" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Perfil </a></td>
</tr>