<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mis reservas</h2>
            <ol class="breadcrumb">
            </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row" id="sortable-view">
        <% @reservas.each do |reserva| %>
            <div class="col-lg-4">
                <div class="ibox">
                <div class="ibox-title-mrs">
                    <h5 style="float: left;">Reserva N° <%= reserva.id %></h5>
                    <div class="text-right">
                        <div class="btn-group">
                            <a href="<%= edit_reserva_path(reserva) %>" class="btn btn-white btn-sm"><i class="fa fa-pencil-square-o"></i></a>
                            <%= reserva.estado.html_safe %>
                        </div>
                    </div>
                </div>
                    <div class="ibox-content">
                        <h2>
                           <%= reserva.cancha.nombre %>
                        </h2>
                        <p>
                        Descripcion: <br>
                        Fecha: <%= reserva.fecha.strftime("%b %e %Y") %> <br>   
                        Hora de inicio: <%= reserva.hora_inicio.try(:strftime, "%I:%M %p") %> <br>
                        Hora de Finalizacion: <%= reserva.hora_fin.strftime("%I:%M %p")%><br> 
                        <%= button_to "Cancelar", @reserva, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-white btn-xs" %>      
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>