<tr>
    <th scope="row"><%= cancha.codigo %></th>
    <td><%= cancha.nombre %></td>
    <td><%= cancha.tamanio %></td>
    <td><%= cancha.precio %></td>
    <td><%= link_to 'Ver', cancha_path(cancha)%></td>
</tr>