<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <% @canchas.each do |cancha| %>
        <div class="col-md-4">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        [ IMAGEN ]
                    </div>
                    <div class="product-desc">
                        <span class="product-price">
                          $<%= cancha.precio.to_i %>
                        </span>
                        <small class="text-muted">Codigo <%= cancha.id %></small>
                        <a href="<%= cancha_path(cancha) %>" class="product-name"><%= cancha.nombre %></a>
                        <div class="small m-t-xs">
                            La cantidad de jugadores deseada es <%= cancha.jugadores %>
                        </div>
                        <div class="m-t text-righ">
                            <a href="<%= cancha_path(cancha) %>" class="btn btn-xs btn-outline btn-primary">Detalles<i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</div>

