<h1>Informacion de <%= @cancha.id %></h1>

<dl>

  <dt>Codigo:</dt>
  <dd><%= @cancha.codigo%></dd>

  <dt>Nombre:</dt>
  <dd><%= @cancha.nombre%></dd>

  <dt>Jugadores:</dt>
  <dd><%= @cancha.jugadores %></dd>

  <dt>Distancia:</dt>
  <dd><%= @cancha.distancia %></dd>

  <dt>Precio:</dt>
  <dd><%= @cancha.precio %></dd>

</dl>
