<h1>Informacion de <%= @empresa.id %></h1>

<dl>

  <dt>Nombre:</dt>
  <dd><%= @empresa.nombre%></dd>

  <dt>Direccion:</dt>
  <dd><%= @empresa.direccion %></dd>

  <dt>Correo:</dt>
  <dd><%= @empresa.correo %></dd>

  <dt>Telefono:</dt>
  <dd><%= @empresa.telefono %></dd>

</dl>