<div class="form-container">
  <div class="form-container2">
    <div class="header-container-reserva" style="display: flex; align-items: center;">
      <%= link_to :back, class: "btn btn-white-reservar btn-sm" do %>
        <i class="fa fa-reply-all"></i>
      <% end %>
      <h2 style="text-align: center; margin-left: auto; margin-right: auto;"><%= @titulo %></h2>
    </div>
    <%= simple_form_for @reserva do |f| %>
      <div class="form-group">
        <%= f.label :usuario_id, "Usuario", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :usuario_id, value: @usuario_current.identificacion, class: 'form-control', readonly: true %>
          <%= f.hidden_field :usuario_id, value: @usuario_current.id %>
        </div>
      </div>
      <div class="form-group">
      <%= f.label :cancha_id, "Cancha", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.select :cancha_id,
                options_from_collection_for_select(Cancha.all, :id, :nombre),
                { include_blank: false }, 
                class: "form-control",
                label: false %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :fecha, "Fecha", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.date_field :fecha, min: Date.current, max: Date.new(2030, 12, 31),
                            class: "form-control custom-date-field" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :hora_inicio, "Hora de Inicio", class: "control-label col-sm-4" %>
        <div class="col-sm-10">
          <%= f.time_field :hora_inicio, class: "form-control custom-time-field" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :hora_fin, "Hora de Finalización", class: "control-label col-sm-9" %>
        <div class="col-sm-10">
          <%= f.time_field :hora_fin, class: "form-control custom-time-field" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.button :submit, "Reservar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
