<tr>
    <th scope="row"><%= reserva.id %></th>
    <td><%= reserva.cliente.identificacion%></td>
    <td><%= reserva.cancha.nombre%></td>
    <td><%= reserva.fecha%></td>
    <td><%= reserva.hora_inicio%></td>
    <td><%= reserva.hora_fin%></td>
</tr>