<h1>Reserva <%= @reserva.id %></h1>

<dl>

  <dt>Identificacion del cliente:</dt>
  <dd><%=@reserva.cliente.identificacion%></dd>

  <dt>Nombre de cancha:</dt>
  <dd><%=@reserva.cancha.codigo%></dd>

  <dt>Fecha:</dt>
  <dd><%= @reserva.fecha %></dd>

  <dt>Hora de inicio:</dt>
  <dd><%= @reserva.hora_inicio %></dd>

  <dt>Hora de fin:</dt>
  <dd><%= @reserva.hora_fin %></dd>

</dl>

