<div class="wrapper wrapper-content animated fadeInUp">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox">
              <div class="ibox-content">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="m-b-md">
                              <a href="<%= edit_reserva_path(@reserva) %>" class="btn btn-white btn-xs float-right"><i class="fa fa-pencil-square-o"></i> Editar reserva</a>
                              <h2>Informacion detallada sobre la Reserva N°<%= @reserva.id %></h2>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <dl class="row mb-0">
                              <div class="col-sm-4 text-sm-right">
                                  <dt>Codigo:</dt>
                              </div>
                              <div class="col-sm-8 text-sm-left">
                                  <dd class="mb-1"><%=@reserva.id%></dd>
                              </div>
                          </dl>
                          <dl class="row mb-0">
                              <div class="col-sm-4 text-sm-right">
                                  <dt>Fecha:</dt>
                              </div>
                              <div class="col-sm-8 text-sm-left">
                                  <dd class="mb-1"><%= @reserva.fecha %></dd>
                              </div>
                          </dl>
                          <dl class="row mb-0">
                              <div class="col-sm-4 text-sm-right">
                                  <dt>Hora de inicio:</dt>
                              </div>
                              <div class="col-sm-8 text-sm-left">
                                  <dd class="mb-1"><%= @reserva.hora_inicio.strftime("%I:%M %p") %></dd>
                              </div>
                          </dl>
                          <dl class="row mb-0">
                              <div class="col-sm-4 text-sm-right">
                                  <dt>Hora de finalización:</dt>
                              </div>
                              <div class="col-sm-8 text-sm-left">
                                  <dd class="mb-1"><%= @reserva.hora_fin.strftime("%I:%M %p") %></dd>
                              </div>
                          </dl>
                      </div>
                      <div class="col-lg-6" id="cluster_info">
                          <dl class="row mb-0">
                              <div class="col-sm-5 text-sm-right">
                                  <dt>Identificación del usuario:</dt>
                              </div>
                              <div class="col-sm-7 text-sm-left">
                                  <dd class="mb-1"><a href="<%= cliente_path(@reserva.cliente) %>" class="text-navy"><%=@reserva.cliente.identificacion%></a></dd>
                              </div>
                          </dl>
                          <dl class="row mb-0">
                              <div class="col-sm-5 text-sm-right">
                                  <dt>Nombre de la cancha:</dt>
                              </div>
                              <div class="col-sm-7 text-sm-left">
                                  <dd class="mb-1"><a href="<%= cancha_path(@reserva.cancha) %>" class="text-navy"><%=@reserva.cancha.nombre%></a></dd>
                              </div>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

