<nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
              <li class="nav-header">
                  <div class="dropdown profile-element">
                      <img alt="image" class="rounded-circle" src="img/profile_small.jpg"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">SPORT WORLD:)</span>
                    </a>
                  </div>
                  <div class="logo-element">
                      SW
                  </div>
              </li>
              <li class="active">
                  <a href="<%= dashboard_path %>"><i class="fa fa-table"></i> <span class="nav-label">Dashboards</span></a>
              </li>
              <li>
                  <a href="<%= canchas_path %>"><i class="fa fa-futbol-o"></i> <span class="nav-label">Canchas</span></a>
              </li>
              <li>
                  <a href="<%= new_reserva_path %>"><i class="fa fa-check-square-o"></i> <span class="nav-label">Reservar</span></a>
              </li>
              <li>
                  <a href="<%= new_cancha_path %>"><i class="fa fa-edit"></i> <span class="nav-label">Nueva cancha</span></a>
              </li>
              <li>
                  <a href="<%= reservas_path %>"><i class="fa fa-flask"></i> <span class="nav-label">Reservas</span></a>
              </li>
              <li>
                  <a href="<%= clientes_path %>"><i class="fa fa-edit"></i> <span class="nav-label">Registros</span><span class="fa arrow"></span></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="float-right label label-primary">SPECIAL</span></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info float-right">NEW</span></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
              </li>

              <li>
                  <a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
              </li>
          </ul>
      </div>
  </nav>