<div class="form-container">
  <div class="form-container2">
    <h2 style="text-align: center;">Modificar Perfil de <%= @usuario.nombre %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="form-inputs">
        <label for="usuario_identificacion">Identificación:</label>
        <%= f.text_field :identificacion, required: true %>

        <label for="usuario_nombre">Nombre:</label>
        <%= f.text_field :nombre %>

        <label for="usuario_apellido">Apellido:</label>
        <%= f.text_field :apellido %>

        <label for="usuario_email">Correo electronico:</label>
        <%= f.text_field :email, required: true, autofocus: true, autocomplete: "email" %>

      </div>

      <div class="form-actions-edit">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>