<main class="bg-gra-01">
  <div class="form-container-sign">
    <%= link_to :back, class: "btn btn-white btn-sm" do %>
      <i class="fa fa-reply-all"></i>
    <% end %>
    <div class="logo-container-sign">
      <%= image_tag "Logo-CS.png", class: "logo"%>
    </div>
    <h4>Registrarse</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-inputs-sign">
        <label for="usuario_identificacion">Identificación:</label>
        <%= f.text_field :identificacion, required: true %>

        <label for="usuario_nombre">Nombre:</label>
        <%= f.text_field :nombre %>

        <label for="usuario_apellido">Apellido:</label>
        <%= f.text_field :apellido %>

        <label for="usuario_email">Correo electronico:</label>
        <%= f.text_field :email, required: true, autofocus: true, autocomplete: "email" %>

        <label for="usuario_password">Contraseña:</label>
        <%= f.password_field :password, required: true, autocomplete: "new-password" %>

        <label for="usuario_password_confirmation">Confirmar contraseña:</label>
        <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
      </div>
      <div class="form-actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</main>






