<tr>
    <th scope="row"><%= factura.id %></th>
    <td><%= factura.codigo%></td>
    <td><%= factura.fecha%></td>
    <td><%= factura.hora%></td>
    <td><%= factura.cancha.id.nombre%></td>
    <td><%= factura.cliente.identificacion%></td>
</tr>
