<h1>Facturas#show</h1>
br>
<h1>Factura</h1>
<dl>
    <dt>Codigo</dt>
    <dd><%=@factura.codigo%></dd>

    <dt>Fecha</dt>
    <dd><%=@factura.fecha%></dd>

    <dt>Hora</dt>
    <dd><%=@factura.hora%></dd>

<dt>Cliente</dt>

    <dd><%=@factura.cliente.identificacion%></dd>

    <dt>Cancha</dt>
    
    <dd><%=@factura.cancha.id%></dd>

    </dl>
