<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Reserva</title>
    <style>
        body {
          font-family: 'Arial', sans-serif;
          margin: 0;
          padding: 0;
          background-color: #ffffff;
        }
        .container {
          max-width: 600px; 
          margin: 0 auto; 
          padding: 20px; 
          border: 3px solid #ddd; 
          border-radius: 10px;  
          background-color: #ffffff; 
          color: #020202;
        }
        .container-header{
          background-color: #37517e; 
          padding: 20px; 
          text-align: center; 
          display: flex; 
          align-items: center; 
          justify-content: center; 
          border: 1px solid #ddd; 
          border-radius: 10px;
        }
        .logo{
          width: 100px; 
          height: 85px; 
          margin-right: 10px;
        }
        .titulo{
          font-family: 'sinfonn'; 
          font-size: 40px; 
          font-weight: bold; 
          color: #020202;
        }
        h2{
            color: #47b2e4;
        }

        .reservation-details {
            margin-top: 20px;
        }

        .suggestions {
            margin-top: 20px;
        }

        .footer {
            margin-top: 20px;
        }

        .highlight {
            color: #37517e;
        }

        .payment-details {
          margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="container">
      <div class="container-header">
          <img src="/assets/Logo-CS.png" alt="Logo de la Empresa" class="logo">
          <div class="titulo">SPORT WORLD</div>
      </div>
        <h2>¡Tu reserva ha sido modificada!</h2>
        <p>Estimado(a) usuario.</p>

        <div class="reservation-details">
            <p>Confirmamos que hemos recibido la modificacion de tu reserva, para el <span class="highlight">. Aquí están los nuevos detalles:</p>
            <ul>
              <li><strong>Fecha:</strong> <span class="highlight"><%= @reserva.fecha.strftime("%e de %b %Y") %></span></li>
              <li><strong>Codigo:</strong> <span class="highlight"><%= @reserva.id %></span></li>
              <li><strong>Hora:</strong> Desde las <span class="highlight"><%= @reserva.hora_inicio.strftime("%I:%M %p") %></span> hasta las <span class="highlight"> <%= @reserva.hora_fin.strftime("%I:%M %p") %></span></li>
              <li><strong>Cancha:</strong> <span class="highlight"><%= @reserva.cancha.id %> - <%= @reserva.cancha.nombre %> - <%= @reserva.cancha.jugadores %> jugadores</span></li>
              <li><strong>Dirección de las instalaciones:</strong> <span class="highlight">xxx-xxxx</span></li>
            </ul>
        </div>

        <div class="payment-details">
            <p><strong>Precio a Pagar:</strong> $<%= @reserva.precio.to_i %></p>
            <p>El pago se realizará en las instalaciones directamente.</p>
        </div>

        <div class="suggestions">
            <p>¡Prepárate para disfrutar de un gran tiempo en nuestras instalaciones!</p>
            <p>Algunas sugerencias para hacer de tu experiencia aún mejor:</p>
            <ul>
                <li>Llega unos minutos antes para prepararte adecuadamente.</li>
                <li>¡No olvides tu equipo deportivo!</li>
                <li>Si necesitas ayuda, nuestro personal estará encantado de asistirte.</li>
            </ul>
        </div>

        <div class="footer">
            <p><strong>¡Gracias por elegirnos!</strong> Si tienes alguna pregunta, no dudes en contactarnos.</p>
            <p>Atentamente, Sport World.</p>
        </div>
    </div>
</body>
</html>